#bigBig {
  display: flex;
  flex-direction: row;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
}

.trybewarts-login {
  display: flex;

}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

.inputs {
  display: flex;
  flex-direction: row;
  height: 60px;
  margin: 15px;
}

.inputss {
  display: flex;
  flex-direction: row;
  height: 60px;
  margin: 15px;
}

#container {
  display: flex;
  flex-direction: column;
}

#bigContainer {
  display: flex;
  justify-self: flex-start;
  flex-direction: row;
  margin-left: 10px;
  height: auto;
  justify-content: flex-start;
  align-self: flex-start;
}

#trybewarts-forms-logo {
  height: 500px;
  display: flex;
}

.input-contents {
  display: flex;
  justify-self: flex-start;
  height: auto;
  justify-content: flex-start;
  align-self: flex-start;
  width: 200px;
  margin-left: 20px;
  margin-top: 0;
  flex-wrap: wrap;
}
